<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style2.css">
    <title>Picshub</title>
</head>
<body>
    {{>_header}}
    {{>_add}}
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // sidenav
        const sidenav = document.querySelector('.sidenav');
        M.Sidenav.init(sidenav, {});

        // form select
        M.FormSelect.init(document.querySelector('#status'));

        // character counter
        const textNeedCount = document.querySelectorAll('#caption');
            M.CharacterCounter.init(textNeedCount);

        // Material Boxed
        const mb = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(mb, {});

        // Tabs
        const tabs = document.querySelectorAll('.tabs');
        M.Tabs.init(tabs, {
        });
    </script>
</body>
</html>