<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img src="img/picture.png" alt="logo" class="mx-auto">
      <h1><span class="pink">Pics</span>hub</h1>
      <p>Create an account or login</p>
      <a href="/register" class="btn btn-primary btn-block mb-2 submit">Register</a>
      <a href="/login" class="btn btn-secondary btn-block submit">Login</a>
    </div>
  </div>
</div>